$bg-primary-default: #1f75cb;
$bg-primary-hover: #1068bf;
$bg-primary-active: #0b5cad;
$bg-primary-disabled: #dcdcde;

$bg-secondary-default: #ffffff;
$bg-secondary-hover: #ececef;
$bg-secondary-active: #dcdcde;
$bg-secondary-disabled: #dcdcde;

$border-color-default: rgba(0, 0, 0, 0.15);
$border-color-hover: rgba(18, 19, 22, 0.5);
$border-color-active: #1c1c1c;
$border-color-error: #ee4222;
$border-color-disabled: rgba(0, 0, 0, 0.15);
$border-color-bronze: #9e6955;

$font-color-primary: #1c1c1c;
$font-color-secondary: #ffffff;
$font-color-disabled: #8e8e8e;
$font-color-error: #ee4222;
$font-color-placeholder: #d9d9d9;
